$themes: (
  light: (
    text: #1a2310,
    background: #d5ebe1,
    primary: #ebf9f1,
    secondary: #b2e6e6,
    accent: #eefcf6,
  ),
  dark: (
    text: #e7efdd,
    background: #13281e,
    primary: #06140c,
    secondary: #194d4d,
    accent: #030f0a,
  ),
);
